<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superb.mapper.BookTypeMapper">

    <resultMap id="type" type="com.superb.entity.BookType">
        <id column="id" property="id"/>
        <result column="type_name" property="typeName"/>
    </resultMap>
    <select id="superbList" resultMap="type">
        select * from book_type
    </select>

</mapper>
